<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>cmdb | login</title>
    <meta name="viewport" content="width=1000, initial-scale=1.0, maximum-scale=1.0">
    <link href="/static/js1/bootstrap.min.css" rel="stylesheet">
    <link href="/static/js1/flat-ui.css" rel="stylesheet">
    <link href="/static/js1/demo.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.ico">

  </head>
  <body>
    <div class="container">
      <div class="login" style="margin-top: 70px">
        <div class="login-screen">
          <div class="login-icon">
            <img src="/static/img/login/icon.png"/>
            <h4>欢迎来到<small>自动化平台</small></h4>
          </div>

          <div class="login-form">
            <div class="form-group">
              <input type="text" class="form-control login-field" value="" placeholder="Enter your name" id="login-name" />
              <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="form-group">
              <input type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" />
              <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>
            <a class="btn btn-primary btn-lg btn-block" href="/pc">Log in</a>
            <a class="login-link" href="/contact_admin">Lost your password?</a>
          </div>
        </div>
      </div>
      </div>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js1/flat-ui.min.js"></script>
  </body>
</html>
