{% extends "layout.html" %}

{% block body %}
    {#添加机器弹窗:#}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">添加机器</h4>
          </div>
          <div class="modal-body">

        <form class="form-horizontal" id='addpc-form'>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">IP</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name='ip' >
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Mem</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name='mem'>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">idc</label>
            <div class="col-sm-10">
                <select class="form-control" name='idc_id'></select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">create_time</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name='create_time'>
            </div>
          </div>
        </form>
        </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" id="addpc-btn">添加</button>
              </div>
            </div>
          </div>
        </div>

    {#更新机器弹窗:#}
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">更新机器</h4>
          </div>
          <div class="modal-body">

        <form class="form-horizontal" id='updatepc-form'>
          <input type="hidden" name="id">  <!-- 存在表单里,Hidden 对象代表一个 HTML 表单中的某个隐藏输入域-->
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">IP</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name='ip' >
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Mem</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name='mem'>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">idc</label>
            <div class="col-sm-10">
                <select class="form-control" name='idc_id'></select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label" >create_time</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name='create_time' readonly>
            </div>
          </div>
        </form>

        </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" id="updatepc-btn">更新</button></div>
        </div>
      </div>
    </div>

    <div class="container" style='margin-top:10px;margin-left: -20px'>
    {#<button class="del-btn">删除</button>#}
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
            添加机器
        </button>

        <table class="table table-bordered table-hover table-striped table-condensed">
            <thead><tr>
                    <th>id</th>
                    <th>ip</th>
                    <th>mem(/G)</th>
                    <th>idc_id</th>
                    <th>create_time</th>
                    <th>setting</th>
                </tr>
            </thead>
            <tbody id="idc_table"></tbody>
        </table>
    </div>

    <script src="/static/js1/jquery.js"></script>
    <script src="/static/js1/bootstrap.js"></script>
    <script>
        // 添加机器时,下拉菜单获取idc_id
        var addpc_form = $('#addpc-form')  // 表单输入的数据
        var addpc_idc = addpc_form.find('[name="idc_id"]') // 得到idc_id

        $.getJSON('/idc_list',function (res) {
            var option_str = ''

            $.each(res, function (i,v) {   // 循环获取idc中数据
                option_str += '<option value="'+v[0]+'">'+v[1]+'</option>'
            })
            addpc_idc.html(option_str)
            $('#updatepc-form').find('[name="idc_id"]').html(option_str)   // 更新机器时, 先渲染页面
        })

        // 添加服务器信息
        $('#addpc-btn').on('click',function () {
            var form_str = addpc_form.serialize()
            $.post('/addpc',form_str,function (res) {
                if(res == 'ok'){
                    $('#myModal').modal('hide')
                    init_page()
                }
            })
        })

        // 删除服务器信息
        $(document).on('click','.del-btn',function () {
            var id = $(this).attr('data-id')
            console.log(id)
            $.post('/delpc',{id:id},function () {
                init_page()
            })
        })

        // 更新服务器信息
        $(document).on('click','.update-btn',function () {
            // alert('1')   // 测试
            $('#updateModal').modal('show')  // 打开一个模态对话框
            // var id = $(this).attr('data-id')  //data-id是每个butten的一个属性,attr 自定义的属性
            var id = $(this).data('id')  // 自定义属性是data开头, 和上一行用法相同
            // alert(id) // 测试

            $.getJSON('/pclist?id='+id,function (res) {
                var data = res[0]
                // console.log(data) // 浏览器console测试
                var updateForm = $('#updatepc-form')

                // 将值存进表单
                updateForm.find('[name="id"]').val(data[0])
                updateForm.find('[name="ip"]').val(data[1])
                updateForm.find('[name="mem"]').val(data[2])
                updateForm.find('[name="idc_id"]').val(data[3])
                updateForm.find('[name="create_time"]').val(data[4])

            })  // 将值id传给后端
        })

        // 提交要更新的数据
        $('#updatepc-btn').on('click',function () {
            var form_str = $('#updatepc-form').serialize() // 序列化
            // console.log(form_str) // 测试
            $.post('/updatepc',form_str,function (res) {
                if(res == 'ok'){
                    $('#updateModal').modal('hide')  // 隐藏一个模态对话框,功能:点击"更新"就隐藏模态框
                    init_page()  // 重新获取表单
            }
            })
        })

        // 初始化表格, 刷新页面函数
        function init_page() {
            $.getJSON('/pclist',function (res) {
                // console.log(res)
                var idc_str = ''
                $.each(res, function (i, v) {
                    idc_str += '<tr>'
                    idc_str += '<td>'+v[0]+'</td>'
                    idc_str += '<td>'+v[1]+'</td>'
                    idc_str += '<td>'+v[2]+'</td>'
                    idc_str += '<td>'+v[3]+'</td>'
                    idc_str += '<td>'+v[4]+'</td>'
                    idc_str += '<td>'+'<button class="btn btn-danger btn-xs del-btn" data-id="'+v[0]+'">delete</button>'+'<button style="margin-left: 3px" class="btn btn-info btn-xs update-btn" data-id="'+v[0]+'">update</button>'+'</td>'
                    idc_str += '</tr>'
                })
                $("#idc_table").html(idc_str)
            })
        }
        init_page()
    </script>
{% endblock %}